@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =================Global part starts here=============== */
:root {
  --logo-color: #009345;
  --prmry-color: #00fe9c;
  --transition: all 0.3s ease-in-out;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

.bg-prmry {
  background-color: var(--prmry-color);
}
.bg-logo {
  background-color: var(--logo-color);
}
.text-prmry {
  color: var(--logo-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
/* =================Global part ends here=============== */

/* =================header part starts here=============== */
.dropdown {
  position: relative;
}
.dropdown-menu {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 100px;
  z-index: 999;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #009244; /* Change to desired color */
  color: #fff; /* Adjust text color if needed */
}

/* Optional: Style the dropdown itself on hover */
.dropdown:hover .dropdown-menu {
  display: block; /* Ensures the dropdown stays open on hover */
  opacity: 1; /* Smooth appearance */
  transition: opacity 0.3s ease-in-out;
  top: 40px;
}
.form-width {
  width: 40%;
}
.currency-selector{
  padding: 5px;
}
/* ===============hero part starts here ================*/
.carousel-item {
  max-height: 60vh;
  position: relative;
}

/* if needed then comment out below  */

/* .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
} */
/* ===============why part starts========== */
.why-section p {
  font-size: 1rem;
  font-weight: normal;
  font-family: var(--font-poppins);
  line-height: 27px;
}

/*==============useability part starts here ==============*/

.use-card {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.use-card .my-video-links{
  font-size: 60px;
  color: var(--logo-color);
}
.use-card .more-btn{
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: var(--transition);
}
.use-card .more-btn .ri{
  transition: var(--transition);
}

.use-card .more-btn:hover .ri{
  transform: translateX(10px);
}
/*==============service part starts here ==============*/
.service-section {
  background: #f8f9fa;
}
.service-section .featured-box {
  transition: var(--transition);
}
.service-section .featured-box h4 {
  transition: var(--transition);
  display: inline-block !important ;
}
.service-section .featured-box p {
  transition: var(--transition);
}
.service-section .featured-box .featured-box-icon {
  transition: var(--transition);
  margin-bottom: 10px;
}
.service-section .featured-box:hover {
  scale: 1.1;
}
.service-section .featured-box:hover .featured-box-icon {
  color: var(--prmry-color);
}
.service-section .featured-box:hover h4 {
  color: white;
  background: var(--logo-color);
  padding: 0 10px;
}

/* product section */
.section-products {
  background: #f5f6f7;
}
.section-products .single-product {
  margin-bottom: 26px;
  background: #fff;
  border: #009244 2px solid;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 30px 12px rgba(0, 0, 0, 0.1);
}
.best-seller .single-product {
  box-shadow: none;
}

.section-products .single-product .part-1 {
  position: relative;
  height: 250px;
  max-height: 250px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-products .single-product .part-1 img {
  max-height: 250px;
  height: 250px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
  border-radius: 10px 10px 0 0;
}
.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #ffffff;
  background-color: #fe302f;
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
  border-radius: 2px;
}

.section-products .single-product .part-1 .new {
  left: 0;
  background-color: var(--logo-color);
}
.section-products .single-product:hover .part-1 img {
  transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products .single-product .part-1 div {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 div {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-1 div a {
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 24px;
  background-color: var(--logo-color);
  color: white;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: var(--transition);
}

.section-products .single-product .part-1 div a:hover {
  color: black;
  background: var(--prmry-color);
}

.section-products .single-product .part-2 .product-title {
  font-size: 1rem;
  margin-bottom: 10px;
}
.section-products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
}

.section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}

/* =========best sellers ============*/
.best-seller {
  background-color: #fff;
}
.best-seller .single-product {
  margin: 0 10px;
}

/* =========pricing css starts here============= */
.pricing {
  padding: 72px 0;
  background: #f5f6f7;
}
/* for slider */
.pricingCard{
  margin: 0 10px !important;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 25px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: var(--logo-color);
}

/* =================card styling here================ */
.pricingCard {
  padding: 40px 24px;
  background: #fff;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}
.pricingCard:hover {
  background: var(--logo-color);
  transform: scale(1.01);
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.1);
}
.pricingCard:hover .pricingCard-header .pricingCard-title {
  color: #fff;
}
.pricingCard:hover .pricingCard-header .pricingCard-text {
  color: #fff;
}
.pricingCard:hover .pricingCard-body h2,
.pricingCard:hover .pricingCard-body p {
  color: #fff;
}
.pricingCard:hover a {
  background: #fff;
  border: 1.5px solid #fff;
}
.pricingCard:hover ul li {
  color: #fff;
}

.pricingCard-header {
  border: 0;
  margin-bottom: 20px;
}
.pricingCard .pricingCard-header .pricingCard-title {
  color: #191d23;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 11px;
  transition: all 0.3s ease-in-out;
}
.pricingCard .pricingCard-header .pricingCard-text {
  color: var(--Neutral-500, #64748b);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease-in-out;
}
.pricingCard .pricingCard-body {
  display: flex;
  align-items: center;
}
.pricingCard .pricingCard-body h2 {
  color: var(--logo-color);
  font-family: Roboto, sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s ease-in-out;
}
.pricingCard .pricingCard-body p {
  color: #4b5768;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: all 0.3s ease-in-out;
}
.pricingCard a {
  margin-top: 24px;
  border-radius: 20px;
  color: var(--logo-color);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1.5px solid var(--logo-color);
  padding: 6px 12px;
  transition: all 0.3s ease-in-out;
}
.pricingCard-footer{
  display: flex;
justify-content: space-around;
}
.pricingCard ul {
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}
.pricingCard ul li {
  color: #15294b;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0;
  gap: 17px;
  transition: all 0.3s ease-in-out;
}

.pricingCard ul li del {
  color: #b3b9c4;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: strikethrough;
}

/* ================Review sections here================ */

.review-slider .col-lg-4 {
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 30px 12px rgba(0, 0, 0, 0.1);
}
/* footer  sections starts here*/

.footer-main {
  padding-top: 56px;
  padding-bottom: 20px;
}
.footer-main .footer-logo {
  margin-bottom: 30px;
}
.footer-main .footer-desc {
  max-width: 396px;
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 30px;
}
.footer-main .social-icons {
  display: flex;
  gap: 34.34px;
}
.footer-main .social-icons a {
  color: var(--logo-color);
  font-size: 20px;
  transition: var(--transition);
}
.footer-main .social-icons a:hover {
  color: var(--prmry-color);
  scale: 1.2;
}
.footer-section .footer-main .footer-heading {
  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--prmry-color);
  margin-bottom: 21px;
}

.footer-section .footer-main ul li a {
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 286%;
  color: #fff;
}
.footer-section .footer-main .contact-info h5 {
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 286%;
  color: #fff;
}
.footer-section .footer-main .contact-info h5 span {
  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 286%;
  color: #fff;
}
.footer-section .footer-main .contact-info .address {
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-top: 10px;
}
/* =================footer sections ends here================ */
/* =================Responsive parts strats here================ */
@media screen and (max-width: 767px) {
  /* header part */
  .form-width {
    width: 100%;
  }

  /* why section */
  .why-section p {
    font-size: 14px;
  }
  .usabilty-section p {
    font-size: 14px;
  }
  /* pricing part  */
  .pricing .form-check-label {
    font-size: 14px;
  }
  .pricingCard .pricingCard-header .pricingCard-title {
    font-size: 20px;
  }
  .pricingCard .pricingCard-body h2 {
    font-size: 40px;
  }
  .pricingCard .pricingCard-body p {
    font-size: 14px;
  }
  .pricingCard a {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  /* =================mobile device responsive parts ends here================ */
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* header part */
  .form-width {
    width: 100%;
  }
  /* why section */
  .why-section p {
    font-size: 14px;
  }
  /* pricing part  */
  .pricingCard .pricingCard-header .pricingCard-text {
    font-size: 14px;
  }
  /* for slider */
  .pricingCard {
    margin: 0 10px !important;
  }
}
/* =================Responsive parts ends here================ */
